body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}

nav {
    font-weight: 400;
    padding-left: 5%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
}

.brand-logo {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}

.no-border {
    border-style: hidden;
}


/*media queries*/
@media (max-width: 812px) {
  .logo-cart {
     display: none;
     visibility: hidden;
  } 
}