{% extends "base.html" %}
{% block content %}
<h3 class="teal-text center-align">Add item</h3>
<div class="row">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-shopping-basket prefix teal-text"></i>
                <input id="item_name" name="item_name" type="text" class="validate" minlength="2" maxlength="50" required>
                <label for="item_name">Grocery item</label>
            </div>

            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix teal-text"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Category</option>
                    {% for category in categories %}
                    	<option value="1">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label>Materialize Select</label>
            </div>

<!--             TODO: add amount of items option
				 TODO: add action from Grocery list page to this page / add overlay to that page with the above as content. 
 -->            
        </div>
</div>
</form>
</div>
{% endblock %}