{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">My shopping list</h3>

    <!-- Modal Trigger -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <!-- info section -->
            <div class="info">
                In this section you view your shopping list. You can also increase or decrease the amount of a certain item, edit the item name or category, or delete an item from your list altogether. 
                Want to add a different item? Click the shopping cart. 
            </div>
            <!-- add item button -->
            <div class="right-align">
                <a class="waves-effect waves-light btn-floating btn-large pulse teal lighten-1" href="{{ url_for('categories') }}"><i class="fas fa-cart-plus"></i></a>
            </div>
            <div class="large-screen-groceries card-panel amber lighten-5">

                <ul>
                    {% for item in items %}
                    {% if (session.user|lower == item.created_by|lower) and (item.in_cupboard > 0) %}
                    <li>
                        <hr class="devider">
                        <div id="items-container">
                            <div class="name-container">
                                <span><b>{{ item.in_cupboard }}</b></span>
                                <span>{{ item.item_name }}</span>
                                <span class="teal-text lighten-5"> ({{ item.category_name }})</span>
                            </div>
                            <!-- buttons -->
                            <div class="button-container right-align">
                                <!-- delete button -->
                                <a href="{{ url_for('set_zero', item_id=item._id) }}"><i class="btn-floating btn-small waves-effect waves-light red"><i class="fas fa-ban"></i></i></a>
                                <!-- edit button -->
                                <a href="{{ url_for('edit_item', item_id=item._id) }}"><i class="btn-floating btn-small waves-effect waves-light teal darken-3"><i class="fas fa-pen"></i></i></a>
                                <!-- minus one button -->
                                <a href="{{ url_for('minus_one', item_id=item._id) }}"><i class="btn-floating btn-small waves-effect waves-light teal fas fa-minus"></i></a>
                                <!-- plus one button -->
                                <a href="{{ url_for('plus_one', item_id=item._id) }}"><i class="btn-floating btn-small waves-effect waves-light teal fas fa-plus"></i></a>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

