{% extends "base.html" %}
{% block content %}
<h3 class="teal-text center-align black-text">Pick your items</h3>
<div class="row">
	<div class="col s12 m8 offset-m2">
		<div class="card-panel amber lighten-5">
			<ul class="collection no-border">
				<!-- dynamic category name -->
				<h4><i class="{{ category.fa_icon }} teal-text"></i> {{ category.category_name }}</h4>
				<!-- list of items in category -->
				{% for item in items %}
					{% if (item.category_name == category.category_name) and (session.user|lower == item.created_by|lower) %}
						<li class="collection-item amber lighten-5">
							<div>{{ item.item_name }}
								<div class="secondary-content">
									<!-- delete button -->
	                                <a href="{{ url_for('delete_item', item_id=item._id, category_id=category._id) }}"><i class="btn-floating btn-small waves-effect waves-light red"><i class="fas fa-ban"></i></i></a>
	                                <a><i class="btn-floating btn-small disabled">{{ item.in_cupboard }}</i></a>
									<a href="{{ url_for('pick_plus_one', item_id=item._id, category_id=category._id) }}"><i class="btn-floating btn-small waves-effect waves-light teal fas fa-plus"></i></a>
								</div>
							</div>
						</li>
					{% endif %}
				{% endfor %}
			    <p class="right-align">Can't find what you're looking for?
    				<a href="{{ url_for('add_item') }}" class="">Create your own!</a>
    			</p>
    		</ul>
		</div>
	</div>
</div>
{% endblock %}