{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Profile</h3>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <!-- info section -->
            <div class="info">
                In this section you find profile information. At the moment, you can verify your username here.
            </div>
            <div class="card-panel amber lighten-5">
                <p>username: {{ username }}</p>
            </div>
        </div>
    </div>
{% endblock %}